* {
  margin: 0;
  padding: 0;
}

ul, ul>li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body>main {
  position: relative;
}

canvas.canvas {
  vertical-align: top;
}

.actions {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
}

.actions>svg {
  margin-left: 10px;
  transition: all 0.2s;
}

.icon {
  width: 34px;
  height: 34px;
  vertical-align: -0.15em;
  fill: black;
  overflow: hidden;
}

.actions>svg.active{
  transform: scale(1.2);
}

.color {
  position: absolute;
  top: 74px;
  left: 34px;
}

ul.color>li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-top: 10px;
  transition: all 0.2s;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);  
}
.color>.red {
  background-color: red;
}
.color>.green {
  background-color: green;
}
.color>.blue {
  background-color: blue;
}
.color>.black {
  background-color: black;
}
.color>.active{
  transform: scale(1.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.95);  
}
.sizes{
  position: absolute;
  top: 10px;
  right: 20px;
  padding-right: 20px;
}
.sizes > .thin, .sizes >.thick{
  background-color: black;
  width: 35px;
  margin: 10px 0;
}
.sizes > .thin{
  height: 5px;
}
.sizes >.thick{
  height: 10px;
}